<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} — k4vahk{% else %}k4vahk.sec{% endif %}</title>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300&family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;1,9..40,300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
    {% include nav.html %}
    <main>
        {{ content }}
    </main>
    <script src="/assets/js/main.js"></script>
</body>

</html>